name: ci
on:
  push:
    branches: [ main ]
    paths-ignore:
      - '*.md'
      - '.editorconfig'
  pull_request:
    paths-ignore:
      - '*.md'
      - '.editorconfig'

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  test:
    name: Test / Go ${{ matrix.go }} on ${{ matrix.os }}
    strategy:
      matrix:
        go: ["1.23", "1.24"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - name: Setup go
        uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version: ${{ matrix.go }}
          check-latest: 'true'
      - name: Test
        run: go test -p 1 -mod=readonly -race  ./...

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-go@44694675825211faa026b3c33043df3e48a5fa00 # v6
        with:
          go-version-file: 'go.mod'
          check-latest: 'true'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9

  godeadcode:
    name: golang-deadcode
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: opzkit/godeadcode-action@6306bf65dfdc77ec1b65f7a162920a8925b1594d # v1
        with:
          go-version-file: 'go.mod'
          check-latest: 'true'
