name: ci
on:
  push:
    branches: [ main ]
    paths-ignore:
      - '*.md'
      - '.editorconfig'
  pull_request:
    paths-ignore:
      - '*.md'
      - '.editorconfig'

permissions:
  contents: read
  # Optional: allow read access to pull request. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  test:
    name: Test / Go ${{ matrix.go }} on ${{ matrix.os }}
    strategy:
      matrix:
        go: ["1.25"]
        os: [ubuntu-latest, macos-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - name: Setup go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version: ${{ matrix.go }}
          check-latest: 'true'
      - name: Test
        run: go test -p 1 -mod=readonly -race  ./...

  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6
        with:
          go-version-file: 'go.mod'
          check-latest: 'true'
      - name: golangci-lint
        uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9

  godeadcode:
    name: golang-deadcode
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
      - uses: opzkit/godeadcode-action@6306bf65dfdc77ec1b65f7a162920a8925b1594d # v1
        with:
          go-version-file: 'go.mod'
          check-latest: 'true'
